<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="i18n-layout/layout-main">
    <head>
        <title>SMS ::Add Rateplan</title>
    </head>
    <section layout:fragment="main-content" style="height: 100%;">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            Rateplan <small>Add Rateplan</small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">

                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-speech font-green"></i> <span
                                                class="caption-subject bold font-green uppercase">Add
                                                Operators Information</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form role="form" th:action="@{/rateplan/add}"
                                              th:object="${rateplan}" method="post">
                                            <div class="form-body">
                                                <input type="hidden" placeholder="id" th:field="*{id}" /> <input
                                                    type="hidden" value="1" name="operatorId" />

                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">* </label><label>Country
                                                        Name</label> <select class="form-control" name="country.id" tabindex="1">
                                                        <option selected="selected" value="0">Select
                                                            Country</option>
                                                        <option th:each="country:${countries}"
                                                                th:text="${country.countryName}" th:value="${country.id}"
                                                                th:selected="${rateplan.country?.id} eq ${country.id} ? 'true' : 'false'">1</option>

                                                    </select> <span th:if="${#fields.hasErrors('country')}"
                                                                    th:errors="*{country}" style="color: red;"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">* </label><label>Brand
                                                        Name</label> <select class="form-control" name="smsRoute.id" tabindex="2">
                                                        <option selected="selected" value="0">Select Brands</option>
                                                        <option th:each="smsroute:${brands}"
                                                                th:text="${smsroute.brandName}" th:value="${smsroute.id}"
                                                                th:selected="${rateplan.smsRoute?.id} eq ${smsroute.id} ? 'true' : 'false'">1</option>
                                                    </select> <span th:if="${#fields.hasErrors('smsRoute')}"
                                                                    th:errors="*{smsRoute}" style="color: red;"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">SMS Rate</label> <input
                                                        type="text" placeholder="0.00" class="form-control"
                                                        th:field="*{smsRates}" tabindex="3" /> <span
                                                        th:if="${#fields.hasErrors('smsRates')}"
                                                        th:errors="*{smsRates}" style="color: red;"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">* </label><label>Priority</label>
                                                    <select class="form-control" name="priority" tabindex="4">
                                                        <option value="3"
                                                                th:selected="${rateplan.priority}==3 ? 'true' : 'false'">HIGH</option>
                                                        <option value="2"
                                                                th:selected="${rateplan.priority}==2 ? 'true' : 'false'">MID</option>
                                                        <option value="1"
                                                                th:selected="${rateplan.priority}==1 ? 'true' : 'false'">LOW</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <span th:text="${duplicate}" style="color: red;"></span>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button class="btn green" tabindex="5">Save Changes</button>
                                                <a th:href="@{/rateplan/info}" class="btn default" tabindex="6">Cancel
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
    </section>

</html>