<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="i18n-layout/layout-main">
    <head>
        <title>SMS ::Failed Messages</title>
    </head>
    <section layout:fragment="main-content" style="height: 100%;">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            Report <small> Failed Messages List </small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->

                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">

                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light portlet-fit ">
                                    <div class="portlet-body">

                                        <div id="pageableTable_wrapper"
                                             class="dataTables_wrapper no-footer">

                                            <div class="row">
                                                <form role="form" id='paginationForm' name="paginationForm"
                                                      th:action="@{/message/failsmslist}" th:object="${message}"
                                                      method="post">
                                                    <div class="col-md-12 col-sm-12 form-body">
                                                        <div style="margin: 5px auto; background: #eaecf8; padding: 5px; border: 1px solid #147ec7; margin-bottom: 10px;">
                                                            <div class="row" style="margin: 5px auto">
                                                                <div class="col-md-offset-1 col-md-11 col-sm-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label" style="font-weight: bold; float: left;" >Route:</label>

                                                                        <select class="form-control" style="width: 20%; display: inline; margin-left: 10px; float: left;" 
                                                                                name="routesId">
                                                                            <option selected="selected" value="0">ALL</option>
                                                                            <option th:each="smsroute:${brands}"
                                                                                    th:text="${smsroute.brandName}"
                                                                                    th:value="${smsroute.id}"
                                                                                    th:selected="${message?.routesId} eq ${smsroute.id} ? 'true' : 'false'">1</option>
                                                                        </select>

                                                                        <label class="control-label" style="font-weight: bold; float: left; margin-left: 30px;">From:</label>

                                                                        <div style="float: left; margin-left: 12px; width: 15% !important; margin-left: 10px;" class="input-group input-medium date date-picker"
                                                                             data-date="0" data-date-format="yyyy-mm-dd"
                                                                             data-date-viewmode="years">
                                                                            <input name="fromDate" class="form-control"
                                                                                   type="text" th:field="*{fromDate}" /> <span
                                                                                   class="input-group-btn">
                                                                                <button class="btn default" type="button">
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>

                                                                        <label class="control-label" style="font-weight: bold; float:left; margin-left: 30px; " >To:</label>

                                                                        <div style="float: left; margin-left: 13px; width: 15% !important; margin-left: 10px;" class="input-group input-medium date date-picker"
                                                                             data-date="0" data-date-format="yyyy-mm-dd"
                                                                             data-date-viewmode="years">
                                                                            <input name="toDate" class="form-control" type="text"
                                                                                   th:field="*{toDate}" /> <span
                                                                                   class="input-group-btn">
                                                                                <button class="btn default" type="button">
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>

                                                                        <div id="pageableTableFilter" class="dataTables_filter" style="float: left; margin-left: 30px;">

                                                                            <input type="hidden" id='operationField'
                                                                                   name="operation" /> <input type="hidden"
                                                                                   id='goPageField' name="goPageNo" /> <input
                                                                                   type="hidden" name="pageNo"
                                                                                   th:value="${message.pageNo}" id='currentPageField' />
                                                                            <div class="btn-group">
                                                                                <button type="submit"
                                                                                        class="input-sm input-small input-inline btn btn-default">
                                                                                    Delivery Report <i class="fa fa-search"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-2">
                                                                <div class="dataTables_length" id="countryTableLength">
                                                                    <label class="control-label" style="font-weight: bold; float: left;">Records <select name="recordPerPage"
                                                                                                                                                         id='selectPageableField'
                                                                                                                                                         onchange="paginatedInfo(this, 'SELECT')"
                                                                                                                                                         aria-controls="sample_editable_1"
                                                                                                                                                         class="form-control input-sm input-xsmall input-inline ">
                                                                            <option value="25"
                                                                                    th:selected="${message.recordPerPage}==25 ? 'true' : 'false'">25</option>
                                                                            <option value="50"
                                                                                    th:selected="${message.recordPerPage}==50 ? 'true' : 'false'">50</option>
                                                                            <option value="100"
                                                                                    th:selected="${message.recordPerPage}==100 ? 'true' : 'false'">100</option>
                                                                        </select> 
                                                                    </label>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="table-scrollable"
                                                 style="overflow-y: scroll; max-height: 450px;">

                                                <table class="table table-striped table-hover table-bordered"
                                                       id="pageableTable">
                                                    <thead>
                                                        <tr>
                                                            <th>SL.</th>
                                                            <th>Route Name</th>
                                                            <th>Destination</th>
                                                            <th>sms</th>
                                                            <th>messageId</th>
                                                            <th>Delivery Status</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr th:if="${#lists.isEmpty(pageMessageDTO)}" >
                                                            <td colspan="6" style="font-weight: bold" >No Content Found!</td>
                                                        </tr>
                                                        <tr th:each="e,idx: ${pageMessageDTO}">

                                                            <td
                                                                th:text="(${message.pageNo}-1 )*${message.recordPerPage} + ${idx.index}+1">1</td>
                                                            <td th:text="${e.routesName}">GP</td>

                                                            <td th:text="${e.destination}">880912498</td>

                                                            <td th:text="${e.sms}">ringId</td>
                                                            <td th:text="${e.responseId}">Failed</td>

                                                            <td th:text="${e.dlStatus}">12-12-2012</td>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="dataTables_info" id="pageableTable_info"
                                                         role="status" aria-live="polite"
                                                         th:text="'Page ' + ${message.pageNo} +' of '+${message.totalPages} +' , Total Entries: ' + ${message.totalEntries} ">Page
                                                        1 of 10, Total Entries: 2</div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">

                                                    <div class="dataTables_paginate paging_bootstrap_number"
                                                         id="pageableTable_paginate">

                                                        <div class="btn-group">
                                                            <a type="button" class="btn btn-default"
                                                               th:disabled="${message.pageNo}==1"
                                                               th:onclick="${message.pageNo}==1?'javascript:;':|paginatedInfo(this,'PREV')|">
                                                                <i class="fa fa-angle-left"></i> Prev
                                                            </a>


                                                            <div class="btn-group">
                                                                <select style="height: 34px; width: 65px;"
                                                                        id="goPageSelectorId" name="pageNo"
                                                                        onchange="paginatedInfo(this, 'GO_PAGE')">
                                                                    <option
                                                                        th:each="pageNum:${#numbers.sequence(1,message.totalPages)}"
                                                                        th:text="${pageNum}" th:value="${pageNum}"
                                                                        th:selected="${message.pageNo} eq ${pageNum} ? 'true' : 'false'">1</option>

                                                                </select>
                                                            </div>

                                                            <a type="button" class="btn btn-default"
                                                               th:disabled="${message.totalPages} eq ${message.pageNo}"
                                                               th:onclick="${message.pageNo} eq ${message.totalPages}?'javascript:;':|paginatedInfo(this,'NEXT')|">
                                                                Next <i class="fa fa-angle-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>

        <th:block layout:fragment="script">
            <script th:src="@{/i18n-scripts/info-dtable-submit.js}"></script>
        </th:block>
    </section>



</html>