<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="i18n-layout/layout-main">

<section layout:fragment="main-content" style="height: 100%;">
	<div class="page-content-wrapper">
		<!-- BEGIN CONTENT BODY -->
		<!-- BEGIN PAGE HEAD-->
		<div class="page-head">
			<div class="container">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>
						Report <small> Failed Messages List </small>
					</h1>
				</div>
				<!-- END PAGE TITLE -->

			</div>
		</div>
		<!-- END PAGE HEAD-->
		<!-- BEGIN PAGE CONTENT BODY -->
		<div class="page-content">
			<div class="container">

				<!-- BEGIN PAGE CONTENT INNER -->
				<div class="page-content-inner">
					<div class="row">
						<div class="col-md-12">
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
							<div class="portlet light portlet-fit ">
								<!-- 								<div class="portlet-title"> -->
								<!-- 									<div class="caption"> -->
								<!-- 										<a th:href="@{/smsroute/info}"> <i -->
								<!-- 											class="icon-refresh font-red"></i> <span -->
								<!-- 											class="caption-subject font-red sbold uppercase">Failed Messages List </span> -->
								<!-- 										</a> -->
								<!-- 									</div> -->

								<!-- 								</div> -->
								<div class="portlet-body">

									<div id="pageableTable_wrapper"
										class="dataTables_wrapper no-footer">

										<div class="row">
											<!-- 											<form id='paginationForm' name="paginationForm" -->
											<!-- 												th:action="@{/smsroute/info}" method="get"> -->
											<!-- 												<div class="col-md-6 col-sm-6"> -->
											<!-- 													<div class="dataTables_length" id="smsRouteTableLength"> -->

											<!-- 														<div class="btn-group"> -->
											<!-- 															<a th:href="@{/smsroute/add}" -->
											<!-- 																class="input-sm input-small input-inline btn btn-default"> -->
											<!-- 																Add New <i class="fa fa-plus"></i> -->
											<!-- 															</a> -->
											<!-- 														</div> -->

											<!-- 														<label> <select name="viewableRows" -->
											<!-- 															id='selectPageableField' -->
											<!-- 															onchange="paginatedInfo(this,'SELECT')" -->
											<!-- 															aria-controls="sample_editable_1" -->
											<!-- 															class="form-control input-sm input-xsmall input-inline"> -->
											<!-- 																<option value="25" -->
											<!-- 																	th:selected="${pageSMSRouteDTO.viewableRows}==25 ? 'true' : 'false'">25</option> -->
											<!-- 																<option value="50" -->
											<!-- 																	th:selected="${pageSMSRouteDTO.viewableRows}==50 ? 'true' : 'false'">50</option> -->
											<!-- 																<option value="100" -->
											<!-- 																	th:selected="${pageSMSRouteDTO.viewableRows}==100 ? 'true' : 'false'">100</option> -->

											<!-- 														</select> records -->
											<!-- 														</label> -->
											<!-- 													</div> -->
											<!-- 												</div> -->
											<!-- 												<div class="col-md-6 col-sm-6"> -->
											<!-- 													<div id="pageableTableFilter" class="dataTables_filter"> -->

											<!-- 														<input type="hidden" id='operationField' name="operation" /> -->
											<!-- 														<input type="hidden" id='goPageField' name="goPageNo" /> -->

											<!-- 														<input type="hidden" name="currentViewablePage" -->
											<!-- 															th:value="${pageSMSRouteDTO.viewablePage}" -->
											<!-- 															id='currentPageField' /> <label><input -->
											<!-- 															name="searchKey" type="search" id='searchKeyField' -->
											<!-- 															th:value="${pageSMSRouteDTO.operation?.name()}=='SEARCH'?${pageSMSRouteDTO.searchKey}:''" -->
											<!-- 															class="form-control input-sm input-small input-inline" -->
											<!-- 															placeholder="Search" aria-controls="sample_editable_1" /></label> -->

											<!-- 														<div class="btn-group"> -->
											<!-- 															<button type="button" -->
											<!-- 																onclick="paginatedInfo(this,'SEARCH')" -->
											<!-- 																class="input-sm input-small input-inline btn btn-default"> -->
											<!-- 																Search <i class="fa fa-search"></i> -->
											<!-- 															</button> -->
											<!-- 														</div> -->
											<!-- 													</div> -->
											<!-- 												</div> -->
											<!-- 											</form> -->
										</div>

										<div class="table-scrollable"
											style="overflow-y: scroll; max-height: 450px;">
											<form id="pageableTableCheckboxForm" method="get">
												<table
													class="table table-striped table-hover table-bordered"
													id="pageableTable">
													<thead>
														<tr>
															<th>SL.</th>
															<th style="text-align: center;">Route Name</th>
															<th style="text-align: center;">Destination</th>
															<th style="text-align: center;">SMS</th>
															<th style="text-align: center;">MessageId</th>
															<th style="text-align: center;">Delivery Status</th>
														</tr>
													</thead>

													<tbody>
														<tr th:each="e,idx: ${rateReportDTO.listItems}">

															<td
																th:text="(${rateReportDTO.viewablePage}-1 )*${rateReportDTO.viewableRows} + ${idx.index}+1">1</td>

															<td th:text="${e.brandName}">GP</td>
															<td th:text="${e.mobileNo}">+8801738901030</td>

															<td th:text="${e.message}">ringID</td>

															<td th:text="${e.responseId}">-1</td>
															<td th:text="${e.deliveryStatus}==-1? 'Failed' : '' "></td>
														</tr>

													</tbody>
												</table>
											</form>
										</div>

										<!-- 										<div class="row"> -->
										<!-- 											<div class="col-md-5 col-sm-5"> -->
										<!-- 												<div class="dataTables_info" id="pageableTable_info" -->
										<!-- 													th:style="${pageSMSRouteDTO.operation?.name()}=='SEARCH' ? 'display:none;' : '' " -->
										<!-- 													role="status" aria-live="polite" -->
										<!-- 													th:text="'Page ' + ${pageSMSRouteDTO.viewablePage} +' of '+${pageSMSRouteDTO.totalPages} +' , Total Entries: ' + ${pageSMSRouteDTO.totalRows} ">Page -->
										<!-- 													1 of 10, Total Entries: 2</div> -->

										<!-- 												<div class="dataTables_info" id="sample_editable_1_info" -->
										<!-- 													th:style="${pageSMSRouteDTO.operation?.name()}=='SEARCH'?'': 'display:none;'" -->
										<!-- 													role="status" aria-live="polite" -->
										<!-- 													th:text="'Total Entries: ' + ${pageSMSRouteDTO.listItems?.size()} "> -->
										<!-- 													Matching Entries : 2</div> -->
										<!-- 											</div> -->
										<!-- 											<div class="col-md-2 col-sm-2"> -->
										<!-- 												<div class="dataTables_paginate paging_bootstrap_number"> -->
										<!-- 													<div class="btn-group"> -->
										<!-- 														<a type="button" -->
										<!-- 															onclick="document.getElementById('pageableTableCheckboxForm').submit()" -->
										<!-- 															class="input-sm input-small input-inline btn btn-default"> -->
										<!-- 															Remove All <i class="fa fa-minus"></i> -->
										<!-- 														</a> -->
										<!-- 													</div> -->
										<!-- 												</div> -->
										<!-- 											</div> -->

										<!-- 											<div class="col-md-5 col-sm-5"> -->

										<!-- 												<div class="dataTables_paginate paging_bootstrap_number" -->
										<!-- 													id="pageableTable_paginate"> -->

										<!-- 													<div class="btn-group"> -->
										<!-- 														<a type="button" class="btn btn-default" -->
										<!-- 															th:disabled="${pageSMSRouteDTO.viewablePage}==1" -->
										<!-- 															th:onclick="${pageSMSRouteDTO.viewablePage}==1?'javascript:;':|paginatedInfo(this,'PREV')|"> -->
										<!-- 															<i class="fa fa-angle-left"></i> Prev -->
										<!-- 														</a> -->


										<!-- 														<div class="btn-group"> -->
										<!-- 															<select style="height: 34px; width: 65px;" -->
										<!-- 																id="goPageSelectorId" -->
										<!-- 																onchange="paginatedInfo(this,'GO_PAGE')"> -->
										<!-- 																<option -->
										<!-- 																	th:each="pageNo:${#numbers.sequence(1,pageSMSRouteDTO.totalPages)}" -->
										<!-- 																	th:text="${pageNo}" th:value="${pageNo}" -->
										<!-- 																	th:selected="${pageSMSRouteDTO.viewablePage} eq ${pageNo} ? 'true' : 'false'">1</option> -->

										<!-- 															</select> -->
										<!-- 														</div> -->

										<!-- 														<a type="button" class="btn btn-default" -->
										<!-- 															th:disabled="${pageSMSRouteDTO.totalPages} eq ${pageSMSRouteDTO.viewablePage}" -->
										<!-- 															th:onclick="${pageSMSRouteDTO.viewablePage} eq ${pageSMSRouteDTO.totalPages}?'javascript:;':|paginatedInfo(this,'NEXT')|"> -->
										<!-- 															Next <i class="fa fa-angle-right"></i> -->
										<!-- 														</a> -->
										<!-- 													</div> -->
										<!-- 												</div> -->

										<!-- 											</div> -->
										<!-- 										</div> -->
									</div>

								</div>
							</div>
							<!-- END EXAMPLE TABLE PORTLET-->
						</div>
					</div>
				</div>
				<!-- END PAGE CONTENT INNER -->
			</div>
		</div>
		<!-- END PAGE CONTENT BODY -->
		<!-- END CONTENT BODY -->
	</div>

	<th:block layout:fragment="script">
		<script th:src="@{/i18n-scripts/info-dtable-submit.js}"></script>
	</th:block>

</section>



</html>