<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="i18n-layout/layout-main">

<section layout:fragment="main-content" style="height: 100%;">
	<div class="page-content-wrapper">
		<!-- BEGIN CONTENT BODY -->
		<!-- BEGIN PAGE HEAD-->
		<div class="page-head">
			<div class="container">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>
						Reports <small> SMS Routes Report</small>
					</h1>
				</div>
				<!-- END PAGE TITLE -->

			</div>
		</div>
		<!-- END PAGE HEAD-->
		<!-- BEGIN PAGE CONTENT BODY -->
		<div class="page-content">
			<div class="container">

				<!-- BEGIN PAGE CONTENT INNER -->
				<div class="page-content-inner">
					<div class="row">
						<div class="col-md-12">
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
							<div class="portlet light portlet-fit ">
								<!-- 								<div class="portlet-title"> -->
								<!-- 									<div class="caption"> -->
								<!-- 										<a th:href="@{/report/rate}"> <i -->
								<!-- 											class="icon-refresh font-red"></i> <span -->
								<!-- 											class="caption-subject font-red sbold uppercase">SMS Routes Report</span> -->
								<!-- 										</a> -->
								<!-- 									</div> -->

								<!-- 								</div> -->
								<div class="portlet-body">

									<div id="pageableTable_wrapper"
										class="dataTables_wrapper no-footer">

										<div class="row">
											<div class="table-scrollable"
												style="overflow: scroll; max-height: 480px;">

												<table
													class="table table-striped table-hover table-bordered">
													<thead>
														<tr>
															<th>Country Name</th>
															<th th:each="brandName : ${rateReportDTO.vendors}"
																th:text="${brandName.value}">Brand Name</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="brandRate : ${rateReportDTO.dataRows}">

															<td align="center" th:text="${brandRate.countryName}">1</td>
															<td align="center" th:each="e,idx: ${rateReportDTO.vendors}"
																th:text="(${brandRate.brands[e.key]}==null? '--' : (${brandRate.brands[e.key]}==''? '--' : ${brandRate.brands[e.key]}))">GP</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END EXAMPLE TABLE PORTLET-->
						</div>
					</div>
				</div>
				<!-- END PAGE CONTENT INNER -->
			</div>
		</div>
		<!-- END PAGE CONTENT BODY -->
		<!-- END CONTENT BODY -->
	</div>

	<th:block layout:fragment="script">
		<script th:src="@{/i18n-scripts/info-dtable-submit.js}"></script>
	</th:block>

</section>



</html>