<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="i18n-layout/layout-main">
    <head>
        <title>SMS ::Add Country</title>
    </head>
    <section layout:fragment="main-content" style="height: 100%;">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            Country <small>Add country info.</small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">

                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-speech font-green"></i> <span
                                                class="caption-subject bold font-green uppercase">Add Country Information</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form role="form" th:action="@{/country/add}"
                                              th:object="${country}" method="post">
                                            <div class="form-body">

                                                <input type="hidden" placeholder="id" th:field="*{id}" />

                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">*</label><label class="control-label">Country Symbol</label> <input
                                                        type="text" placeholder="country symbol"
                                                        class="form-control" th:field="*{countrySymbol}" tabindex="1" /> <span
                                                        th:if="${#fields.hasErrors('countrySymbol')}"
                                                        th:errors="*{countrySymbol}" style="color: red;">Please insert Country Symbol.!</span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">*</label><label class="control-label">Country Name</label> <input
                                                        type="text" placeholder="country name" class="form-control"
                                                        th:field="*{countryName}" tabindex="2" /> <span
                                                        th:if="${#fields.hasErrors('countryName')}"
                                                        th:errors="*{countryName}" style="color: red;">Please insert Country Name.!</span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">*</label><label class="control-label">Country Code</label> <input
                                                        type="text" placeholder="country code" class="form-control"
                                                        th:field="*{countryCode}" tabindex="3" /> 
                                                    <span
                                                        th:if="${#fields.hasErrors('countryCode')}"
                                                        th:errors="*{countryCode}" style="color: red;">Please insert Country Code!</span>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button class="btn green" tabindex="4">Save Changes</button>
                                                <a th:href="@{/country/info}" class="btn default" tabindex="5">Cancel
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
    </section>

</html>