<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="i18n-layout/layout-main">
    <head>
        <title>SMS ::Upload CSV File</title>
    </head>
    <section layout:fragment="main-content" style="height: 100%;">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            Country <small>Upload File</small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">

                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        <div id="bootstrap_alerts_demo" style="display: none;">
                            <div id="prefix_661213402591"
                                 class="custom-alerts alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true"></button>
                                <strong id="msgShow" th:text="${success}"></strong>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var msg = document.getElementById("msgShow").innerHTML;
                            if (msg == "")
                                document.getElementById("bootstrap_alerts_demo").style.display = "none";
                            else {
                                document.getElementById("bootstrap_alerts_demo").style.display = "block";
                            }

                            function removeSpanText() {
                                document.getElementById("msgSpan").innerHTML = "";
                            }
                        </script>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN PORTLET-->
                                <div class="portlet light form-fit ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-settings font-green"></i> <span
                                                class="caption-subject font-green sbold uppercase">Upload
                                                cvs format example</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
                                        <form th:action="@{/country/csvfile}" role="form" method="post"
                                              enctype="multipart/form-data"
                                              class="form-horizontal form-bordered">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <table
                                                        class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Country Symbol</th>
                                                                <th>Country Name</th>
                                                                <th>Country Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>BD</td>
                                                                <td>Bangladesh</td>
                                                                <td>+880</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">File Name</label>
                                                    <div class="col-md-9">
                                                        <div class="fileinput fileinput-new"
                                                             data-provides="fileinput">
                                                            <span class="btn green btn-file"> <span
                                                                    class="fileinput-new"> Select file </span> <span
                                                                    class="fileinput-exists"> Change </span> <input
                                                                        type="file" name="file" onchange="removeSpanText()" tabindex="1" />
                                                            </span> <span class="fileinput-filename"> </span> &nbsp; <a
                                                                href="javascript:;" class="close fileinput-exists"
                                                                data-dismiss="fileinput"> </a>
                                                            <span id="msgSpan" th:text="${nofile}" style="color: red;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn green" tabindex="2">
                                                            <i class="fa fa-check"></i>Upload File
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                                <!-- END PORTLET-->
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
    </section>

</html>