<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >


<head>
<meta charset="utf-8" />
<title layout:title-pattern="$CONTENT_TITLE">SMS</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="SMS" name="RingID SMS Provider" />
<meta content="RingID" name="author" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"
	rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css}"
	rel="stylesheet" type="text/css" />

<link
	th:href="@{/metronic/assets/global/plugins/clockface/css/clockface.css}"
	rel="stylesheet" type="text/css" />

<link th:href="@{/metronic/assets/global/plugins/morris/morris.css}"
	rel="stylesheet" type="text/css}" />
<link
	th:href="@{/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/jqvmap/jqvmap/jqvmap.css}"
	rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link th:href="@{/metronic/assets/global/css/components.min.css}"
	rel="stylesheet" id="style_components" type="text/css" />
<link th:href="@{/metronic/assets/global/css/plugins.min.css}"
	rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link th:href="@{/metronic/assets/layouts/layout3/css/layout.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/layouts/layout3/css/themes/default.min.css}"
	rel="stylesheet" type="text/css" id="style_color" />
<link th:href="@{/metronic/assets/layouts/layout3/css/custom.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/metronic/my-assets/custom-css/layout3-css.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/datatables/datatables.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/jstree/dist/themes/default/style.min.css}"
	rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" th:href="@{/metronic/assets/sms.ico}" />

</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">
	<div class="page-wrapper">
		<div class="page-wrapper-row">
			<div class="page-wrapper-top">
				<!-- BEGIN HEADER -->
				<div class="page-header">
					<!-- BEGIN HEADER TOP -->
					<div class="page-header-top header-background">
						<div class="container">
							<!-- BEGIN LOGO -->
							<div class="page-logo">
								<a href="mIndex.html"> <!--                                        <img src="../assets/layouts/layout3/img/logo-default.jpg" alt="logo" class="logo-default"/>-->
									<!--                                        <img src="../../ring-id-4_1.png" alt="logo"  class="logo-default"/>-->
									<!--                                        <img src="../../header.png" alt="logo"  class="logo-default"/>-->
								</a>
							</div>
							<!-- END LOGO -->
							<!-- BEGIN RESPONSIVE MENU TOGGLER -->
							<a href="javascript:;" class="menu-toggler"></a>
							<!-- END RESPONSIVE MENU TOGGLER -->
							<!-- BEGIN TOP NAVIGATION MENU -->

							<!-- END TOP NAVIGATION MENU -->
						</div>
					</div>
					<!-- END HEADER TOP -->
					<!-- BEGIN HEADER MENU -->
					<div class="page-header-menu">
						<div class="container">

							<!-- BEGIN MEGA MENU -->
							<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
							<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
							<div class="hor-menu ">
								<ul class="nav navbar-nav">
									<li aria-haspopup="true"
										class="menu-dropdown classic-menu-dropdown"><a
										th:href="@{/home}"> Home <span class="arrow "></span>
									</a></li>
									<li aria-haspopup="true"
										class="menu-dropdown mega-menu-dropdown"><a
										th:href="@{/country/info}" class="nav-link nav-toggle ">
											Countries <span class="arrow"></span>
									</a>
										<ul class="dropdown-menu pull-left">
											<li aria-haspopup="true" class=" "><a
												th:href="@{/country/info}" class="nav-link "> Manage
													Countries </a></li>

											<li
												sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN')"
												aria-haspopup="true" class=" "><a
												th:href="@{/country/add}" class="nav-link  "> Add
													Country </a></li>
										</ul></li>
									<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN')"
										aria-haspopup="true"
										class="menu-dropdown classic-menu-dropdown"><a
										th:href="@{/smsroute/info}"> SMS Routes <span
											class="arrow"></span>
									</a>
										<ul class="dropdown-menu pull-left">
											<li aria-haspopup="true" class=" "><a
												th:href="@{/smsroute/info}" class="nav-link  ">Manage
													SMS Routes</a></li>
											<li aria-haspopup="true" class=" "><a
												th:href="@{/smsroute/add}" class="nav-link ">Add Routes</a></li>
										</ul></li>
									<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN')"
										aria-haspopup="true"
										class="menu-dropdown classic-menu-dropdown "><a
										th:href="@{/rateplan/info}"> Rate Plan <span class="arrow"></span>
									</a>

										<ul class="dropdown-menu pull-left">
											<li aria-haspopup="true" class=" "><a
												th:href="@{/rateplan/info}" class="nav-link  ">Manage
													Rate Plan</a></li>
											<li aria-haspopup="true" class=" "><a
												th:href="@{/rateplan/add}" class="nav-link  ">Add SMS
													Rate</a></li>
										</ul></li>

									<li aria-haspopup="true"
										class="menu-dropdown classic-menu-dropdown "><a
										href="javascript:;"> Reports <span class="arrow"></span>
									</a>
										<ul class="dropdown-menu pull-left">
											<li
												sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN')"
												aria-haspopup="true" class=" "><a
												th:href="@{/message/rateRoutelist}"
												class="nav-link nav-toggle "> Reports On rate </a></li>
											<li aria-haspopup="true" class=" "><a
												th:href="@{/message/sucsmslist}" class="nav-link nav-toggle ">
													Successful SMS List </a></li>
											<li aria-haspopup="true" class=" "><a
												th:href="@{/message/failsmslist}"
												class="nav-link nav-toggle "> Failed SMS List </a></li>
											<li aria-haspopup="true" class=" "><a
												th:href="@{/message/allsmslist}"
												class="nav-link nav-toggle "> All SMS List </a></li>
											<li aria-haspopup="true" class=" "><a
												th:href="@{/message/summarysms}" class="nav-link nav-toggle ">
													SMS Summary </a></li>
										</ul></li>
									<li aria-haspopup="true"
										class="menu-dropdown classic-menu-dropdown "><a
										th:href="@{/send/sms}"> SMS <span class="arrow"></span>
									</a>
										<ul class="dropdown-menu pull-left">
											<li aria-haspopup="true" class=" "><a
												th:href="@{/send/sms}" class="nav-link  "> Send SMS </a></li>
										</ul></li>
									<li aria-haspopup="true"
										class="menu-dropdown classic-menu-dropdown "><a
										th:href="@{/logout}"> Logout <span class="arrow"></span>
									</a></li>
								</ul>
							</div>
							<!-- END MEGA MENU -->
						</div>
					</div>
					<!-- END HEADER MENU -->
				</div>
				<!-- END HEADER -->
			</div>
		</div>

		<div class="page-wrapper-row full-height">
			<div class="page-wrapper-middle">
				<!-- BEGIN CONTAINER -->
				<div class="page-container">
					<!-- BEGIN CONTENT -->
					<section layout:fragment="main-content" style="height: 100%;">

					</section>
					<!-- END CONTENT -->
				</div>
				<!-- END CONTAINER -->
			</div>
		</div>

		<div class="page-wrapper-row">
			<div class="page-wrapper-bottom">
				<!-- BEGIN FOOTER -->
				<!-- BEGIN PRE-FOOTER -->
<!--				<div class="page-prefooter">
					<div class="container">
						<div class="row">


							<div class="col-md-6 col-sm-12 col-xs-24 footer-block">
								<h2>Follow Us On</h2>
								<ul class="social-icons">
									<li><a href="javascript:;" data-original-title="facebook"
										class="facebook"></a></li>
									<li><a href="javascript:;" data-original-title="twitter"
										class="twitter"></a></li>
									<li><a href="javascript:;"
										data-original-title="googleplus" class="googleplus"></a></li>
									<li><a href="javascript:;" data-original-title="linkedin"
										class="linkedin"></a></li>

								</ul>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-24 footer-block">
								<h2>Contacts</h2>
								<address class="margin-bottom-40">
									Phone: +1 514 368 9000 <br /> Address: 7475 Boul, Newman, <br />
									Suite # 510, Montreal, QC, H8N 1X3 Canada
								</address>
							</div>
						</div>
					</div>
				</div>-->

				<!-- END PRE-FOOTER -->
				<!-- BEGIN INNER FOOTER -->
				<div class="page-footer">
					<div class="container">
						Copyright © 2015 &copy; All right reserved by <a target="_blank"
							href="http://www.ipvision.ca/">IPVision Corporation Ltd.</a>

					</div>
				</div>
				<div class="scroll-to-top">
					<i class="icon-arrow-up"></i>
				</div>
				<!-- END INNER FOOTER -->
				<!-- END FOOTER -->
			</div>
		</div>
	</div>

	<!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
	<!-- BEGIN CORE PLUGINS -->
	<script th:src="@{/metronic/assets/global/plugins/jquery.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/metronic/assets/global/plugins/js.cookie.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery.blockui.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->




	<script th:src="@{/metronic/assets/global/plugins/moment.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/morris/morris.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/morris/raphael-min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/counterup/jquery.waypoints.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/counterup/jquery.counterup.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/flot/jquery.flot.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/flot/jquery.flot.resize.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/flot/jquery.flot.categories.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery.sparkline.min.js}"
		type="text/javascript"></script>

	<!-- END PAGE LEVEL PLUGINS -->
	
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"
		type="text/javascript"></script>

	<!-- BEGIN THEME GLOBAL SCRIPTS -->
	<script th:src="@{/metronic/assets/global/scripts/app.min.js}"
		type="text/javascript"></script>
	<!-- END THEME GLOBAL SCRIPTS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script th:src="@{/metronic/assets/pages/scripts/dashboard.min.js}"
		type="text/javascript"></script>
	<!-- END PAGE LEVEL SCRIPTS -->

	<!-- BEGIN THEME LAYOUT SCRIPTS -->
	<script
		th:src="@{/metronic/assets/layouts/layout3/scripts/layout.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/layouts/layout3/scripts/demo.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/layouts/global/scripts/quick-sidebar.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/layouts/global/scripts/quick-nav.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/metronic/assets/global/scripts/datatable.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/datatables/datatables.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/pages/scripts/table-datatables-editable.js}"
		type="text/javascript"></script>


	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/pages/scripts/components-date-time-pickers.min.js}"
		type="text/javascript"></script>
	<!-- CUSTOM PAGE WISE SCRIPTS LOADED HERE -->
	<script th:src="@{/i18n-scripts/info-dtable-checkbox.js}"></script>

	<script th:src="@{/i18n-scripts/menu-active.js}"></script>
	<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>