<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8" />
<title>SMS</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta
	content="RingID Admin Panel"
	name="description" />
<meta content="RingID" name="author" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"
	rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/metronic/assets/global/plugins/morris/morris.css}"
	rel="stylesheet" type="text/css}" />
<link
	th:href="@{/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.css}"
	rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link th:href="@{/metronic/assets/global/css/components.min.css}"
	rel="stylesheet" id="style_components" type="text/css" />
<link th:href="@{/metronic/assets/global/css/plugins.min.css}"
	rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link th:href="@{/metronic/assets/layouts/layout3/css/layout.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/layouts/layout3/css/themes/default.min.css}"
	rel="stylesheet" type="text/css" id="style_color" />
<link th:href="@{/metronic/assets/layouts/layout3/css/custom.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/metronic/assets/pages/css/login.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/metronic/my-assets/custom-css/layout3-css.css}"
	rel="stylesheet" type="text/css" />


<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" th:href="@{/metronic/assets/sms.ico}" />
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">
	<div class="page-wrapper">
		<div class="page-wrapper-row">
			<div class="page-wrapper-top">
				<!-- BEGIN HEADER -->
				<div class="page-header">
					<!-- BEGIN HEADER TOP -->
					<div class="page-header-top header-background">
						<div class="container">
							<!-- BEGIN LOGO -->
							<div class="page-logo">
								<a href="mIndex.html"> <!--                                        <img src="../assets/layouts/layout3/img/logo-default.jpg" alt="logo" class="logo-default"/>-->
									<!--                                        <img src="../../ring-id-4_1.png" alt="logo"  class="logo-default"/>-->
									<!--                                        <img src="../../header.png" alt="logo"  class="logo-default"/>-->
								</a>
							</div>
							<!-- END LOGO -->
							<!-- BEGIN RESPONSIVE MENU TOGGLER -->
							<a href="javascript:;" class="menu-toggler"></a>
							<!-- END RESPONSIVE MENU TOGGLER -->
							<!-- BEGIN TOP NAVIGATION MENU -->

							<!-- END TOP NAVIGATION MENU -->
						</div>
					</div>
					<!-- END HEADER TOP -->
					<!-- BEGIN HEADER MENU -->
					<div class="page-header-menu">
						<div class="container">

							<!-- BEGIN MEGA MENU -->
							<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
							<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
							
							<!-- END MEGA MENU -->
						</div>
					</div>
					<!-- END HEADER MENU -->
				</div>
				<!-- END HEADER -->
			</div>
		</div>
		<div class="page-wrapper-row full-height">
		
			<section layout:fragment="main-content" style="height: 100%;"></section>
			
		</div>

		<div class="page-wrapper-row">
			<div class="page-wrapper-bottom">
				
				<div class="page-footer">
					<div class="container">
						Copyright © 2015 &copy; All right reserved by <a target="_blank"
							href="http://www.ipvision.ca/">IPVision Corporation Ltd.</a>

					</div>
				</div>
				<div class="scroll-to-top">
					<i class="icon-arrow-up"></i>
				</div>
				<!-- END INNER FOOTER -->
				<!-- END FOOTER -->
			</div>
		</div>
	</div>

	<!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
	<!-- BEGIN CORE PLUGINS -->
	<script th:src="@{/metronic/assets/global/plugins/jquery.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/metronic/assets/global/plugins/js.cookie.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery.blockui.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script th:src="@{/metronic/assets/global/plugins/moment.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/morris/morris.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/morris/raphael-min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/counterup/jquery.waypoints.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/counterup/jquery.counterup.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/flot/jquery.flot.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/flot/jquery.flot.resize.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/flot/jquery.flot.categories.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/global/plugins/jquery.sparkline.min.js}"
		type="text/javascript"></script>
	
	<!-- BEGIN THEME GLOBAL SCRIPTS -->
	<script th:src="@{/metronic/assets/global/scripts/app.min.js}"
		type="text/javascript"></script>
	<!-- END THEME GLOBAL SCRIPTS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script th:src="@{/metronic/assets/pages/scripts/dashboard.min.js}"
		type="text/javascript"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<!-- BEGIN THEME LAYOUT SCRIPTS -->
	<script
		th:src="@{/metronic/assets/layouts/layout3/scripts/layout.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/layouts/layout3/scripts/demo.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/layouts/global/scripts/quick-sidebar.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/metronic/assets/layouts/global/scripts/quick-nav.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/metronic/assets/pages/scripts/login.min.js}"
		type="text/javascript"></script>
	<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>