<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8" />
<title>SMS ::Internal Error</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta
	content="Preview page of Metronic Admin Theme #3 for 500 page option 2"
	name="description" />
<meta content="" name="author" />

<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/metronic/assets/global/css/components.min.css}"
	rel="stylesheet" id="style_components" type="text/css" />
<link th:href="@{/metronic/assets/global/css/plugins.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/metronic/assets/pages/css/error.min.css}"
	rel="stylesheet" type="text/css" />
<link rel="shortcut icon" th:href="@{/metronic/assets/favicon.ico}" />

</head>
<!-- END HEAD -->

<body class=" page-500-full-page">
	<div class="row">
		<div class="col-md-12 page-500">
			<h4 th:text="${timestamp}"></h4>
			<div class=" number font-red" th:text="${status}">403</div>
			<div class=" details">
				<h3 th:text="${message}"></h3>
				<p th:text="${error}" >
					<br />
				</p>
				<p th:text="${exception}"></p>
				<p th:text="${errors}"></p>
				<p th:text="${trace}"></p>
				<p th:text="${path}"></p>
				<p>
					<a th:href="@{/home}" class="btn red btn-outline"> Return
						home </a> <br />
				</p>
			</div>
		</div>
	</div>

	<!-- BEGIN CORE PLUGINS -->
	<script th:src="@{/metronic/assets/global/plugins/jquery.min.js}"
		type="text/javascript"></script>

	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/metronic/assets/global/plugins/js.cookie.min.js}"
		type="text/javascript"></script>

	<script
		th:src="@{/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
		type="text/javascript"></script>

	<script
		th:src="@{/metronic/assets/global/plugins/jquery.blockui.min.js}"
		type="text/javascript"></script>

	<script
		th:src="@{/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->

	<!-- BEGIN THEME GLOBAL SCRIPTS -->
	<script th:src="@{/metronic/assets/global/scripts/app.min.js}"
		type="text/javascript"></script>

</body>

</html>