<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="i18n-layout/layout-main">
    <head>
        <title>SMS ::Send SMS</title>
    </head>
    <section layout:fragment="main-content" style="height: 100%;">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            SMS <small>Send a SMS.....</small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">

                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        <div id="bootstrap_alerts_demo" style="display: none;">
                            <div id="prefix_661213402591"
                                 class="custom-alerts alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true"></button>
                                <strong id="msgShow" th:text="${success}"></strong>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var msgShow = document.getElementById("msgShow");
                            var msg = msgShow.innerHTML;
                            var falied = "fail";
                            if (msg == "")
                                document.getElementById("bootstrap_alerts_demo").style.display = "none";
                            else {
                                document.getElementById("bootstrap_alerts_demo").style.display = "block";

                                if (msg.includes(falied)) {
                                    msgShow.style.color = "red";
                                }
                            }
                        </script>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-speech font-green"></i> <span
                                                class="caption-subject bold font-green uppercase">Send
                                                a SMS.....</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form role="form" th:action="@{/send/sms}" th:object="${smsui}"
                                              method="post">
                                            <div class="form-body">
                                                
                                                <div class="form-group">
                                                    <label class="control-label">Verification Code</label> <input
                                                        type="text" placeholder="verification code" th:field="*{vCode}"
                                                        class="form-control" tabindex="1" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">* </label><label>Country
                                                        Name</label> <select class="form-control" name="countryCode" tabindex="2">
                                                        <option selected="selected" value="0">Select
                                                            Country</option>
                                                        <option th:each="country:${session.countries}"
                                                                th:text="${country.countryName}"
                                                                th:value="${country.countryCode}">1</option>
                                                    </select> <span th:if="${#fields.hasErrors('countryCode')}"
                                                                    th:errors="*{countryCode}" style="color: red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Routes Name</label> <select class="form-control"
                                                                                       name="brandId" tabindex="3">
                                                        <option selected="selected" value="0">Select Brands</option>
                                                        <option th:each="smsroute:${session.brands}"
                                                                th:text="${smsroute.brandName}" th:value="${smsroute.id}">1</option>
                                                    </select> <span th:if="${#fields.hasErrors('brandId')}"
                                                                    th:errors="*{brandId}" style="color: red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" style="color: red;">*</label><label
                                                        class="control-label">Mobile Number</label> <input
                                                        type="text" placeholder="mobile number" class="form-control"
                                                        th:field="*{mobileNumber}" tabindex="4" /> <span
                                                        th:if="${#fields.hasErrors('mobileNumber')}"
                                                        th:errors="*{mobileNumber}" style="color: red;">Missing
                                                        Mobile Number !</span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Message</label>
                                                    <textarea class="form-control" name="textMessage" rows="5" tabindex="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button class="btn green" tabindex="6">Send</button>
                                                <a th:href="@{/home}" class="btn default" tabindex="7">Cancel </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
    </section>

</html>